<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Welcome to our store</h3>
      <p>
        The company itself is a very successful company. For you get the pleasure of the rougher ones, but it is the very thing that rejects them. Do times of trouble befall a wise man or a free man of some truth?
      </p>
    </div>
</div>

<%- include ../partials/footer %>
